.bandera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100px;
  margin-top: 20px;
}

.bandera-rect {
  width: 100px;
  height: 50px;
}

.amarillo {
  background-color: yellow;
}

.azul {
  background-color: blue;
  color: white;
}

.rojo {
  background-color: red;
  color: white;
}

.verde {
  background-color: green;
  color: white;
}

.celeste {
  background-color: lightblue;
}
